@tailwind base;
@tailwind components;
@tailwind utilities;

.burger {
  @apply relative w-[34px] h-[30px] cursor-pointer;
  background: transparent;
}
.burger input {
  @apply hidden;
}
.burger span {
  @apply block absolute h-[4px] w-full opacity-100 rotate-0 transition-[0.25s] duration-[ease-in-out] rounded-[9px] left-0 bg-blue-500;
}
.burger span:nth-of-type(1) {
  @apply origin-[left_center] top-0;
}
.burger span:nth-of-type(2) {
  @apply -translate-y-2/4 origin-[left_center] top-2/4;
}
.burger span:nth-of-type(3) {
  @apply origin-[left_center] -translate-y-full top-full;
}
.burger input:checked ~ span:nth-of-type(1) {
  @apply rotate-45 left-[5px] top-0;
}
.burger input:checked ~ span:nth-of-type(2) {
  @apply w-[0%] opacity-0;
}
.burger input:checked ~ span:nth-of-type(3) {
  @apply -rotate-45 left-[5px] top-7;
}

.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.remove-arrow {
    -moz-appearance: textfield;
}

.loader {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.truckWrapper {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  overflow-x: hidden;
}
/* truck upper body */
.truckBody {
  width: 130px;
  height: fit-content;
  margin-bottom: 6px;
  animation: motion 1s linear infinite;
}
/* truck suspension animation*/
@keyframes motion {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* truck's tires */
.truckTires {
  width: 130px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 15px;
  position: absolute;
  bottom: 0;
}
.truckTires svg {
  width: 24px;
}

.road {
  width: 100%;
  height: 1.5px;
  background-color: #282828;
  position: relative;
  bottom: 0;
  align-self: flex-end;
  border-radius: 3px;
}
.road::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: #282828;
  right: -50%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 10px solid white;
}
.road::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #282828;
  right: -65%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 4px solid white;
}

.lampPost {
  position: absolute;
  bottom: 0;
  right: -90%;
  height: 90px;
  animation: roadAnimation 1.4s linear infinite;
}

@keyframes roadAnimation {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-350px);
  }
}
